[user]
	name = Shinra Yamakawa
	email = s.yamakawa@flatt.tech
	# signingkey / gpg.ssh.program are OS-specific; see ~/.config/git/local.inc
[fetch]
	prune = true
[core]
	ignorecase = false
	quotepath = false
	editor = nvim
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgSign = true

# Include OS-specific config (ignored if file doesn't exist)
[include]
	path = ~/.config/git/local.inc
[safe]
	directory = /Users/pc0038/work_dir/puchisunaba/phase2
